[submodule "lidar/ouster-ros"]
	path = lidar/ouster-ros
	url = git@github.com:ouster-lidar/ouster-ros.git
	branch = ros2
[submodule "camera/depthai-ros"]
	path = camera/depthai-ros
	url = git@github.com:luxonis/depthai-ros.git
	branch = humble
[submodule "middleware/rmw_cyclonedds"]
	path = middleware/rmw_cyclonedds
	url = git@github.com:ros2/rmw_cyclonedds.git
[submodule "middleware/cyclonedds"]
	path = middleware/cyclonedds
	url = https://github.com/eclipse-cyclonedds/cyclonedds
